<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Gherkins Detailer - Actions List</title>
    {{> meta}}
  </head>
  <body>
    <header>
      <h1>Gherkins Detailer - Actions List</h1>
    </header>

    {{> menu}}

    <main>
      {{#list}}
      <table>
        <thead>
          <tr>
            <th class="col-id">&num;</th>
            <th class="col-data">{{file}}</th>
            <th class="col-data">Similarities</th>
          </tr>
        </thead>
        <tbody>
          {{#actions}}
          <tr class="{{class}}" id="{{id}}">
            <td class="col-id">{{id}}</td>
            <td class="col-data">{{text}}</td>
            <td class="col-data">
              {{#similarities}}
              <a href="./{{type}}.html#{{id}}" alt="{{text}}" title="{{text}}">{{id}}</a><br/>
              {{/similarities}}
            </td>
          </tr>
          {{/actions}}
        </tbody>
      </table>
      {{/list}}
    </main>
    {{> footer}}
  </body>
</html>
