<nav>
  <ul>
    <li><a href="./index.html">Files</a></li>
    <li><a href="./features.html">Features</a></li>
    <li><a href="./scenarios.html">Scenarios</a></li>
    <li><a href="./states.html">States</a></li>
    <li><a href="./actions.html">Actions</a></li>
    <li><a href="./outcomes.html">Outcomes</a></li>
  </ul>
</nav>
