<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Gherkins Detailer - States List</title>
    {{> meta}}
  </head>
  <body>
    <header>
      <h1>Gherkins Detailer - States List</h1>
    </header>

    {{> menu}}

    <main>
      {{#list}}
      <table>
        <thead>
          <tr>
            <th>{{file}}</th>
          </tr>
        </thead>
        <tbody>
          {{#states}}
          <tr>
            <td>{{.}}</td>
          </tr>
          {{/states}}
        </tbody>
      </table>
      {{/list}}
    </main>
    {{> footer}}
  </body>
</html>
