# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# node modules
node_modules/

# output folders
dist
report
coverage
.nyc_output
_book

# exceptions
!fixtures/features/dist

# private
.coveralls.yml
