<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Gherkins Detailer - Features List</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1>Gherkins Detailer - Features List</h1>
    </header>
    <main>
      {{#list}}
      <table>
        <thead>
          <tr>
            <th>{{file}}</th>
          </tr>
        </thead>
        <tbody>
          {{#features}}
          <tr>
            <td>{{.}}</td>
          </tr>
          {{/features}}
        </tbody>
      </table>
      {{/list}}
    </main>
    <footer>
      Generated with <a href="https://github.com/silversonicaxel/gherkin-detailer/" target="_blank">gherkin-detailer</a> on the DATE at TIME.
    </footer>
  </body>
</html>
