html, body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin:0;
  padding: 0;
}

body {
  color: #1060bc;
  font-size: 14px;
  margin: 20px 10px;
}

nav {
  height: 30px;
  margin-bottom: 15px;
  width: 100%;
}
nav ul {
  line-height: 30px;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
nav ul li {
  float: left;
  padding-right: 25px;
}
nav ul li a {
  color: #1060bc;
}

footer {
  color: #d0e4fb;
  font-size: 12px;
  margin-bottom: 20px;
  text-align: center;
}
footer a {
  color: #d0e4fb;
}

h1 {
  font-size: 24px;
  color: #1060bc;
}

table {
  border: 1px solid #d0e4fb;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 10px;
  width: 100%;
}
table tr th {
  background-color: #a2caf7;
  border: 1px solid #d0e4fb;
  color: #04182f;
  padding: 5px;
  text-align: left;
}
table tr td {
  border: 1px solid #d0e4fb;
  color: #04182f;
  padding: 5px;
}

